# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/java/com/chipoodle/devilrpg/eventsubscriber/common/LoginEventSuscriber.java
/src/main/resources/assets/devilrpg/textures/gui/skill/widget/
/run-data/
/logs/
/options.txt
/build.gradle
/config/fml.toml
/config/forge-client.toml
/config/forge-common.toml
